.custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 9999px;
  outline: none;
  cursor: pointer;
}

/* Track */
.custom-range::-webkit-slider-runnable-track {
  height: 18px;
  background: rgb(31 41 55);
  border-radius: 8px;
}
.custom-range::-moz-range-track {
  height: 18px;
  background: rgb(31 41 55);
  border-radius: 8px;
}

/* Thumb (handle) */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 4px;
  margin-top: 0px; /* centers thumb vertically */
  transition: transform 0.2s ease;
}
.custom-range::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.custom-range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: white;
  border: 2px solid #3b82f6;
  border-radius: 50%;
  transition: transform 0.2s ease;
}
.custom-range::-moz-range-thumb:hover {
  transform: scale(1.2);
}